:root{
    --fuenteblue:'Roboto', sans-serif;
    --white:#ffffff;
    --black:#010101;
    --blue:#1c58ae;
    --skyblue:#437ed3;
    --darkgrey:#1c1c1d;
    --grey: #757575;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}

/*globales*/

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteblue);
    line-height: 1.2;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.8rem;
}

h4{
    font-size: 2rem;
}

img{
    max-width: 100%;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.center-text{
    text-align: center;
}

.m-b-3{
    margin-bottom: 3rem;
}

.container{
    width: min(90%, 120rem);
    margin: 0 auto;
}

/*header*/
.header{
    background-color: var(--blue);
    padding: 2rem;
}

.logo{
    color: var(--white);
}

.logo_text{
    font-weight: normal;
    font-size: 3rem;
}

.logo_bold{
    font-weight: bold;
}

.bar{
    text-align: center;
}

.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact_title{
    color: black;
}

@media (min-width: 1280px) {
    .bar{
        display: flex;
        justify-content: space-between;
    }
}

.navigation_links{
    display: block;
    color: var(--white);
    text-align: center;
    font-size: 2rem;
}

.navigation_links:hover{
    text-decoration: underline;
}

@media (min-width: 1280px) {
    .navigation{
        display: flex;
        gap: 30rem;
    }
}

/*main*/

.main{
    background-image: url(../static/main.jpg);
    height: 80rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 5rem;
}

@media (min-width: 1280px) {
    .main{
        display: flex;
        align-items: center;
        padding-left: 60rem;
        padding-top: 0;
    }
}
/*contactmain*/


.forms{
    background-color: var(--skyblue);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.form fieldset{
    border: none;
}

.form legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--white);
}
@media (min-width: 1280px) {
    .container-fields{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .fields:nth-child(3), .fields:nth-child(4){
        grid-column: 1 / 3;
    }
}

.fields{
    margin-bottom: 1rem;
}

.fields label{
    color: var(--white);
    margin-bottom: .5rem;
    display: block;
}

.fields textarea{
    height: 17rem;
    resize: none;
    height: 15rem;
}

.inputext{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

/*us*/

.us{
    background-color: var(--skyblue);
    padding: 5rem;
    color: var(--black);
}

.us_content{
    box-shadow: 0px 5px 32px -2px rgba(0,0,0,0.27);
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;  
}

.us_title{
    text-align: center;
}

.us_text{
    text-align: justify;
    font-size: 2rem;
}

/*services*/

.services{
    margin-top: 1rem;
    text-align: center;
}

.services_text{
    margin-bottom: 3rem;
}

.infoservices{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 1280px) {
    .infoservices{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 10rem;
        justify-content: center;
        
    }
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 32px -2px rgba(0,0,0,0.27);
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
}

.service_content li{
    text-align: justify;
}

/*contact*/
.video{
    background-color: var(--skyblue);
    padding: 2rem;
    margin-top: 5rem;
    color: var(--white);
    text-align: center;
    width: 100%;
}

.contact{
    background-color: var(--white);
    padding: 2rem;
    margin-top: 5rem;
    color: var(--white);
    text-align: center;
}

.infocontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    box-shadow: 0px 5px 32px -2px rgba(0,0,0,0.27);
    background-color: var(--skyblue);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

@media (min-width: 1280px) {
    .infocontact{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 10rem;
        justify-content: center;
        
    }
}

.icons{
    height: 15rem;
    width: 15rem;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h3,.information p{
    color: var(--darkgrey);
}

/*footer*/

.footer{
    background-color: var(--darkgrey);
    padding: 2rem;
}

/*button*/

.press{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a{
    color: var(--black);
    font-size: 2rem;
}

.button{
    margin-top: 2rem;
    width:20rem;
    height: 3rem;
    border: none;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: inset 0 0 0 0 var(--blue);
    transition: ease-out 0.3s;
    outline: none;
}

.button:hover{
    box-shadow: inset 20rem 0 0 0 var(--blue);
    cursor: pointer;
}

@media (min-width: 1280px) {
    .button{
        width: 50rem;
    }
    .button:hover{
        box-shadow: inset 50rem 0 0 0 var(--blue);
    }
}

.button:hover a{
    color: var(--white);
}

.button2 a{
    color: var(--white);
    font-size: 2rem;
}

.button2{
    margin-top: 2rem;
    width: 30rem;
    height: 3rem;
    border: none;
    background-color: var(--blue);
    border-radius: .5rem;
    box-shadow: inset 0 0 0 0 var(--skyblue);
    transition: ease-out 0.3s;
    outline: none;
}

.button2:hover{
    box-shadow: inset 30rem 0 0 0 var(--skyblue);
    cursor: pointer;
}

.button2:hover a{
    color: yellow;
}
